// ---------------------------------------------------------------------
//  Base Global Styles
// ---------------------------------------------------------------------

html,
body {
  background: $white;
}

body,
input,
button,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: $ss;
  color: $dark;

  font-feature-settings: 'ss04' on, 'ss05' on, 'ss08' on, 'ss09' on, 'ss10' on;
  text-edge: cap;
}

* {
  outline-color: #94C5D1;
}

a {
  color: inherit;

  &:hover {
    cursor: pointer;
  }

  &[href^="tel:"] {
    &:hover {
      cursor: default;
    }
  }
}


main#content {
  background: $white;
  min-height: calc(100vh - 420px);
}

hr {
  border: none;
  background: $border-color;
  height: 1px;
  width: 100%;
  margin-bottom: 20px;
}

.sr-only,
.screen-reader-text {
  @include visually-hidden;
}
