// ---------------------------------------------------------------------
//
// ---------------------------------------------------------------------

// ----------------------------------------
//
// ----------------------------------------

.notice {
  padding: 24px;
  background: $light;

  @include start-at($medium) {
    padding: 40px;
  }
}