// ---------------------------------------------------------------------
//
// ---------------------------------------------------------------------

// ----------------------------------------
// Small
// ----------------------------------------

.risk-sm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  grid-gap: 8px;
  color: $blue-gray;

  &:before {
    content: '';
    width: 24px;
    height: 24px;
    min-width: 24px;
    display: block;
    border-radius: 3px;
    background: $gray;
  }

  &[data-risk="5"]:before {
    background: var(--risk-excellent);
  }

  &[data-risk="4"]:before {
    background: var(--risk-very-good);
  }

  &[data-risk="3"]:before {
    background: var(--risk-good);
  }

  &[data-risk="2"]:before {
    background: var(--risk-fair);
  }

  &[data-risk="1"]:before {
    background: var(--risk-poor);
  }
}


// ----------------------------------------
// list
// ----------------------------------------

.risk-scale-list {
  display: grid;
  align-items: stretch;
  grid-gap: 8px;
  row-gap: 36px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @include start-at($small) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include start-at($medium) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}



// ----------------------------------------
// Large
// ----------------------------------------

.risk-lg {

  p, .h4, h4 {
    padding-right: 16px;
  }

  h4 {
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-bottom: 18px;
    border-radius: 16px;
    background: $gray;
  }

  &[data-risk="5"]:before {
    background: var(--risk-excellent);
  }

  &[data-risk="4"]:before {
    background: var(--risk-very-good);
  }

  &[data-risk="3"]:before {
    background: var(--risk-good);
  }

  &[data-risk="2"]:before {
    background: var(--risk-fair);
  }

  &[data-risk="1"]:before {
    background: var(--risk-poor);
  }


  &[data-risk="5"].risk-swatch {
    background: var(--risk-excellent);
  }

  &[data-risk="4"].risk-swatch {
    background: var(--risk-very-good);
  }

  &[data-risk="3"].risk-swatch {
    background: var(--risk-good);
  }

  &[data-risk="2"].risk-swatch {
    background: var(--risk-fair);
  }

  &[data-risk="1"].risk-swatch {
    background: var(--risk-poor);
  }
}


// ----------------------------------------
// Swatch
// ----------------------------------------

.risk-swatch {
  width: 100%;
  height: auto;
  //aspect-ratio: 16/9;
  border-radius: 16px;
  background: $gray;
  color: $white;
  padding: 24px;

  p {
    margin-bottom: 4px;
  }

  @include start-at($large) {
    padding: 32px;
  }

  &[data-risk="5"] {
    background: var(--risk-excellent);
  }

  &[data-risk="4"] {
    background: var(--risk-very-good);
  }

  &[data-risk="3"] {
    background: var(--risk-good);
  }

  &[data-risk="2"] {
    background: var(--risk-fair);
  }

  &[data-risk="1"] {
    background: var(--risk-poor);
  }
}


// ----------------------------------------
// Risk Rating
// ----------------------------------------

.risk-rating {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 18px;

  @include start-at($medium) {
    flex-direction: row;
    grid-gap: 24px;
    align-items: center;

    .risk-swatch {
      max-width: 40%;
      width: 416px;
    }
  }
  @include start-at($large) {
    grid-gap: 48px;
  }
}