// ---------------------------------------------------------------------
//
// ---------------------------------------------------------------------

.sut-result {
  width: 100%;
}

// ----------------------------------------
// Scale
// ----------------------------------------

.sut-result-scale {
  padding-left: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;

  > * {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px;
    flex-grow: 1;
    flex-basis: 0;
  }

  @include stop-at($medium) {
    padding-left: 70px;

    > * {
      font-size: 12px;
    }
  }
}

// ----------------------------------------
// Scale
// ----------------------------------------

.sut-result-results {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  p {
    width: 116px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin: 0;

    @include stop-at($medium) {
      width: 70px;
      font-size: 12px;
    }
  }
}

.sut-result-results__gradient {
  width: 100%;
  height: 24px;
  border-radius: 4px;
  background: $light;
  background: $results-gradient;
  position: relative;
  overflow: hidden;
}

.sut-result-results__risk-range {
  position: absolute;
  width: 17%;
  min-width: 70px;
  height: 12px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: linear-gradient(90deg, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 90%);
  left: 60%;
}


// ----------------------------------------
// Reference
// ----------------------------------------

.sut-results-reference {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 16px;

  p {
    width: 116px;
    font-size: 14px;
    color: $blue-gray;
    margin: 0;

    @include stop-at($medium) {
      font-size: 9px;
      width: 70px;
    }
  }

  > div {
    width: 100%;
  }
}

.sut-results-reference__scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //text-align: center;

  > * {
    font-size: 14px;
    color: $blue-gray;
    //flex-grow: 1;
    //flex-basis: 0;

    @include stop-at($medium) {
      font-size: 10px;
    }
  }
}

.sut-results-reference__legend {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 12px;

  @include stop-at($large) {
    padding: 0;
  }

  > * {
    font-size: 14px;
    color: $blue-gray;
    flex-grow: 0;
    white-space: nowrap;

    @include stop-at($large) {
      font-size: 8px;
    }
  }

  > *:nth-child(2) {
    flex-grow: 1;
  }
}

.sut-results-reference__line {
  width: 100%;
  height: 1px;
  background: $black;
  position: relative;
  margin: 12px 0;

  .ref {
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $black;
    top: calc(50% - 6px);
  }

  &:before,
  &:after{
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
  }
  &:before {
    left: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.5 7.8'%3E%3Cpolygon points='3.8 7.8 0 3.9 3.8 0 4.5 .7 1.4 3.9 4.5 7.1 3.8 7.8' fill='%2311141f'/%3E%3C/svg%3E") left center / 5px auto no-repeat;
  }
  &:after {
    left: auto;
    right: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.5 7.8'%3E%3Cpolygon points='.7 7.8 4.5 3.9 .7 0 0 .7 3.1 3.9 0 7.1 .7 7.8' fill='%2311141f'/%3E%3C/svg%3E") right center / 5px auto no-repeat;
  }
}


// ----------------------------------------
// Featured / Large
// ----------------------------------------

.sut-result--featured {

  .sut-result-scale {
    margin-bottom: 18px;
  }

  .sut-result-results p,
  .sut-result-scale > * {
    font-size: 20px;

    @include stop-at($medium) {
      font-size: 12px;
    }
  }

  .sut-result-results__gradient {
    height: 64px;
    border-radius: 16px;
  }

  .sut-result-results__risk-range {
    height: 28px;
  }
}